<section id="add-question" class="container sub-main">
  <div class="row">
    <h2 class="col-12"><%=t(:new_question) %></h2>
    <div class="col-12">
      <%= render 'form', question: @question %>
    </div>
  </div>
</section>