<section id="edit-address" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_address) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', address: @address %>
    </div>
  </div>
</section>