<section id="edit-user-point-log" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_point) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', user_point_log: @user_point_log %>
    </div>
  </div>
</section>