<section id="new-user-point-log" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:new_point) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', user_point_log: @user_point_log %>
    </div>
  </div>
</section>