<div id="coin-charge" class="container sub-main">
  <section class="row">
    <h1 class="col-12"><%=t(:coin_charge) %></h1>
    <article>
      <h2>앗 코인이 없거나 모자르세요?</h2>
      <p>
아래 계좌이체로 이체하시면 송금하신 금액

“1원 = 1 코인”으로 충전해 드립니다.

송금자명은 반드시 회원명 + 휴대폰번호 뒷자리로 작성해 주셔야 정상적으로 충전이 반영됩니다.

예) 송금자명 : (반드시 회원가입자 본인명)

송금 시 아래 내용에 해당될 경우
앱 메인 화면 하단 제안 및 문의에 송금 내용
(회원명, 송금액, 휴대폰번호)을 작성해 주세요!

· 송금자명이 회원명과 다른 경우

· 텔레뱅킹(전화), ATM(은행, 편의점) 등으로 송금 시
  회원명 + 휴대폰번호 뒷자리 작성이 불가능할 경우

* 송금 시 유의사항에 해당될 경우 제안 및 문의에
   회원명, 송금액, 휴대폰번호 를 작성해 주시면
   빠른 충전이 가능합니다.

* 미사용 송금액은 환불 가능합니다.
   (무료, 작업완료 코인 제외)

   앱 메인 화면 하단 제안 및 문의로 접수해 주세요.

   (회원명, 환불 받을 본인 은행계좌번호, 환불액 작성 필수)

* 환불은 접수일 다음날(익일) 평일 오후 3시 이후
   처리되며, 금요일/주말/공휴일 접수 시 다음 평일
   기준으로 처리됩니다.</p>
    </article>
  </section>
</div>