<section id="new-speciality_category" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:new_speciality_category) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', speciality_category: @speciality_category %>
    </div>
  </div>
</section>