<section id="edit-speciality_man" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_speciality_man) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', speciality_man: @speciality_man %>
    </div>
  </div>
</section>