<footer class="row">
      <address class="col-12">
        <a href="https://www.jedaeroweb.co.kr" target="_blank"><%=t(:jedaeroweb) %></a>
        &nbsp;&nbsp; CopyLeft. 2020, jedaeroweb. All wrongs reserved.</address>
</footer>
