<section id="add-request" class="container sub-main">
  <div class="row">
    <h2 class="col-12"><%=t(:new_request) %></h2>
    <div class="col-12">
      <%= render 'form', request: @request %>
    </div>
  </div>
</section>