<section id="orders" class="container">
  <div class="row">
    <h2 class="col-12 di-title"><%=t(:orders) %></h2>
  </div>
  <div class="row">




    <div class="col-12">
    <%=link_to t(:new_order),new_order_path,class: 'btn btn-primary btn-large' %>
    </div>
  </div>
</section>
