<main id="new-order" class="container">
  <section class="row">
    <h2 class="col-12 di-title"><%=t(:new_order) %></h2>
  </section>
  <section class="row">
    <%= render 'form', order: @order %>
  </section>
</main>
