<section id="main-contact">
  <div class="container">
    <div class="row">
      <nav class="col-12">
        <ul class="row nav justify-content-center">
          <li class="col-12 col-md-6 nav-item text-center"><%=link_to new_contact_path,class: 'nav-link',id: 'main-contact-form-link' do %><i class="material-icons">support_agent</i><%=t(:contact,scope: [:activerecord, :models]) %><% end %></li>
        </ul>
      </nav>
    </div>
  </div>
</section>