<div id="show-contact" class="container sub-main">
  <div class="row">
    <article class="col-12" itemscope itemprop="article" itemtype="http://schema.org/Article">
      <div class="sl_content_header">
      </div>
      <div class="sl_content_main">
        문의되었습니다.
      </div>
    </article>
  </div>
  <div class="row">
    <div class="btn-group btn-group-lg col-12" role="group" style="margin-top:3rem">
      <%=link_to t(:home),root_path,{class: 'btn btn-secondary btn-large btn-block'} %>
    </div>
  </div>
</div>
