<section id="edit-user_simulation_material" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_user_simulation_material) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', user_simulation_material: @user_simulation_material %>
    </div>
  </div>
</section>