<div id="edit_admin" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_admin) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', admin: @admin %>
    </div>
  </div>
</div>