<section id="add-company" class="container">
  <div class="row">
    <h2 class="col-12" style="margin-bottom:30px"><%=t(:new_company) %></h2>
    <div class="col-12">
      <%= render 'form', company: @company %>
    </div>
  </div>
</section>