<section id="show-company" class="container">
  <%=render 'companies/show' %>
  <div class="row">
    <div class="btn-group btn-group-lg col-12" role="group" style="margin-top:3rem">
      <%=link_to t(:go_list),companies_path,{class: 'btn btn-secondary btn-large btn-block'} %>
    </div>
  </div>

  <% if user_signed_in? %>
  <% if @company.user_id==current_user.id %>
  <div class="row">
    <h4 class="col-12" style="margin-top:3rem">이 회사, 전문가 소유(당사)자 입니다.</h4>
    <div class="col-12">
    <%=link_to t(:edit),edit_company_path(@company.id),{class: 'btn btn-secondary btn-large'} %>
    </div>
  </div>
  <% end %>
  <% end %>
</section>