<section id="edit-reservation" class="container">
  <div class="row">
    <h2 class="col-12"><%=t(:new_reservation) %></h2>
    <div class="col-12">
      <%= render 'form', reservation: @reservation %>
    </div>
  </div>
</section>