<main id="add-reservation" class="container">
  <section class="row">
    <div class="col-12">
      <h2 class="d-none d-lg-block"><%=t(:new_reservation) %></h2>
      <%= render 'form', reservation: @reservation %>
    </div>
  </section>
</main>