<div id="show-reservation" class="container">
  <div class="row">
    <article class="slboard_content col-12" itemscope itemprop="article" itemtype="http://schema.org/Article">
      <div class="sl_content_header">
         <h3>신청되업습니다.</h3>
      </div>
    </article>
    <div id="sl_content_bottom_menu" class="col-12">
      <%= link_to t(:link_list), root_path %>
    </div>
  </div>
</div>
