<input type="hidden" id="v_type" value="admins">
<input type="hidden" id="v_id" value="<%=params[:admin_id] %>">
<div style="text-align:center">
  <div style="display:none"><video id="video" autoplay></video></div>
  <canvas id="canvas" width="372" height="372" style="border:2px solid blue;margin: 30px auto"></canvas>
  <div style="display:none"><img id="photo" style="width:168px;height:168px;border:1px solid green"></div>
  <div style="margin:20px;text-align:center">
    <button id="snap" class="btn btn-secondary"><%=t(:photo_shoot) %></button>&nbsp
    <button id="save" class="btn btn-secondary" disabled><%=t(:save) %></button>&nbsp
    <button id="resume" class="btn btn-secondary" disabled><%=t(:reset) %></button>
  </div>
</div>
<div id="result"></div>
