<main id="complete-order" class="container">
  <section class="row">
    <h2 class="col-12 text-center"><%='구매 완료' %></h2>
    <div class="col-12">
      <h3>구매가 완료되었습니다.</h3>
    </div>
  </section>
</main>
