<main id="complete-user-point-log" class="container">
  <section class="row">
    <h2 class="col-12 text-center"><%='포인트 충전' %></h2>
    <div class="col-12">
      <h3>포인트 충전이 완료되었습니다.</h3>
    </div>
  </section>
</main>