<main id="new-user-point-log" class="container">
  <section class="row">
    <h2 class="col-12 text-center"><%='포인트 충전' %></h2>
    <div class="col-12">
      <%= render 'form', user_point_log: @user_point_log %>
    </div>
  </section>
</main>