<section id="new-product" class="container">
  <div class="row">
    <h2 class="col-12 di-title"><%=t(:new_product) %></h2>
  </div>
  <div class="row">
    <%= render 'form', product: @product %>
  </div>
</section>
